# Practica 1: Tipos de datos
A continuación se muestran los tipos de datos nativos de Python. Se utilizarán las funciones *type* e *isinstance* para verificar el tipo de datos

# Tipo de datos Numéricos: enteros (int)

Los enteros se inicializan con literales numéricos sin parte decimal. La palabra reservada 'int', es el literal del tipo de dato entero.

In [2]:


#inicializacion con un literal
numero = 5
tipoDatoNumero = type(numero)
#inicializacion con el resultado de una operacion
numero_2 = numero + numero

print("tipo de datos ", tipoDatoNumero)

tipo de datos  <class 'int'>

Verificamos que el tipo de dato de la variable 'numero', sea entera, comparando su tipo de dato, o usando la función *isinstance*.

In [8]:
numero = "hola mundo"
es_del_tipo = isinstance(numero, int)

print("La variable numero  es del tipo esperado? ", es_del_tipo)

La variable numero  es del tipo esperado?  False

## Tipos de datos numéricos: booleanos (bool)
Un dato de tipo booleano, o variable booleana puede tomar únicamente dos valores, True o False.

In [11]:
#1 entero
variable_booleana_1 = True
or_variables = variable_booleana_1 or False
print("Or de variables ", or_variables)

Or de variables  True

In [12]:

print(variable_booleana_1)
#verificamos el tipo de datos
es_booleana = isinstance(variable_booleana_1, bool)
print("Es la variable variableBooleana booleana?", es_booleana)

True
Es la variable variableBooleana booleana? True

Los operadores relacionales como ==, >, <, <=, >=, dan como resultado siempre un valor booleano

In [17]:
op_comparacion = True == True

print("Resultado de la comparacion ", op_comparacion)


variable1 = True
variable2 = True
resta = variable1 - variable2
print("Resultado de la resta", resta)

Resultado de la comparacion  True
Resultado de la resta 0

## Tipos de datos numéricos: Números reales (float)
Los números reales incluyen una parte decimal, por lo que posibilita la representación de fracciones.

In [29]:
numero_real_1 = 3.4
numero_real_2 = 3.0 / 5.0
#se puede usar notacion exponencial para representar numeros flotantes
numero_real_3 = 1e6


print("numero_real_3 es este ", numero_real_3)

numero_real_3 es este  1000000.0

In [30]:
tipo_datos_numero_real = type(numero_real_3)

print("contenido de la variable ", numeroReal3)
print("Tipo de datos de la variable ", type(numeroReal3))

contenido de la variable  1000000.0
Tipo de datos de la variable  <class 'float'>

Al realizar una operación con operandos numéricos de distintos tipos, el resultado tendrá el tipo de datos más preciso.

In [34]:
variable_entera = 8


resultado = 3.0 + 1
print(resultado)
print("Tipo de datos del resultado: ", type(resultado))

4.0
Tipo de datos del resultado:  <class 'float'>

### Conversión de tipos datos
Para convertir una variable a otro tipo de datos, se invoca al constructor del tipo de datos, con el nombre del tipo de datos y la variable a convertir como entrada.

In [37]:
resultado = -9.9999

resultado_entero = int(resultado)
print("Resultado de conversion ", resultado_entero)

#prueba de truncado
#resultado = int("hola")
#print("Vamos a ver que pasa... ", resultado)

Resultado de conversion  -9

## Tipo de datos numéricos: Números complejos (complex)
Los números complejos están compuestos por una parte real, y una imaginaria. La parte imaginaria se expresa con el sufijo 'i'.

In [43]:
numero_complejo = 1j
print(numero_complejo)
tipo_datos_complejo = type(numero_complejo)
multiplicacion_compleja = numero_complejo * numero_complejo
print("Tipo de datos de la variable ", tipo_datos_complejo)
print("Resultado multiplicacion ", multiplicacion_compleja)

numero_flotante_1 = 9.7
numero_complejo_1 = 1 + 3j
suma =  numero_flotante_1 + numero_complejo_1
print(type(suma))
print("suma ", suma)

1j
Tipo de datos de la variable  <class 'complex'>
Resultado multiplicacion  (-1+0j)
<class 'complex'>
suma  (10.7+3j)

In [45]:
#otros ejemplos de uso de constructores
#constructor de floats
variable_entera = 3
variable_flotante = float(variable_entera)
print("variable_flotante: ", variable_flotante)
#constructor de complex
variable_compleja = complex(variable_entera)
print("variable_compleja ", variable_compleja)

variable_flotante:  3.0
variable_compleja  (3+0j)

El cuadrado de la variable imaginaria $j=\sqrt{-1}$ es $j^{2}=-1$

## Secuencias inmutables: Hileras (Strings o str)
Las secuencias inmutables corresponden a series o secuencias de valores, no modificables. 
Una hilera representa una secuencia de caracteres, representados con el estandar ASCII

In [49]:
#indexar la hilera
variable_palabra = "ucrania"
variable_caracter = variable_palabra[4]

print("Caracter ", variable_caracter)

Caracter  n

In [50]:
#consultar el largo de la hilera
largo_hilera = len(variable_palabra)
print("Largo de la hilera ", largo_hilera)

Largo de la hilera  7

In [52]:
palabra = "hola"
print('Contenido en palabra ', palabra)
#tipo de datos
tipo_datos_palabra = type(palabra)
es_hilera = tipo_datos_palabra == str
print("tipo de datos ", tipo_datos_palabra)
print("Es de tipo str? ", es_hilera)

Contenido en palabra  hola
tipo de datos  <class 'str'>
Es de tipo str?  True

In [58]:
#ejemplo del constructor para str
numero_entero = 9
hilera_numero = str(numero_entero)
hilera_numero_2 = "9"

print("Resultado de la conversion de un entero a una hilera ", hilera_numero)

son_iguales = hilera_numero == hilera_numero_2
print("son_iguales ", son_iguales)

Resultado de la conversion de un entero a una hilera  9
son_iguales  True

In [60]:
#conversion de un numero en una hilera a entero
numero_hilera = "23"
numero_entero = int(numero_hilera)
print("numero entero ", numero_entero)
print("tipo de datos del resultado ", type(numero_entero))

numero entero  23
tipo de datos del resultado  <class 'int'>

Para consultar el valor unicode de cada caracter, podemos usar la funcion ord

In [61]:
palabra_1 = "sumar"
print(ord(palabra_1[1]))

117

Las secuencias inmutables no permiten la modificacion de alguno de sus elementos

In [62]:
palabra[1] = "a"

TypeError: 'str' object does not support item assignment

In [64]:
#pregunta a usuario
print("Cual es tu edad?")
respuesta_usuario = input()
print("Respuesta del usuario ", type(respuesta_usuario))

Cual es tu edad?
67
Respuesta del usuario  <class 'str'>

## Secuencias inmutables: Tuplas
Las tuplas son secuencias de valores con cualquier tipo de dato. Son  inmutables.

In [5]:
#Tupla de enteros
tuplaEnteros = (1, 3, 4)
#tupla de numeros complejos
tupla_objetos = (1 + 1j, 3 + 4j, 0 + 1j, 5, 7.0, "hilera")
print("Tupla de objetos ", tupla_objetos)
print("tercer elemento de la tupla ", tuplaComplejos[5])

Tupla de objetos  ((1+1j), (3+4j), 1j, 5, 7.0, 'hilera')
tercer elemento de la tupla  hilera

In [11]:

#tupla de tuplas
tupla_de_tuplas = ((1, 2, 3), (1 + 1j, 58.9))
print("Tupla de tuplas ", tupla_de_tuplas)
#consultar el segundo elemento de la segunda tupla en la tupla
print("Tupla ", tupla_de_tuplas[1])

print("Segundo elemento de la segunda tupla", tupla_de_tuplas[1][0])
#representacion con tupla de tuplas de la matriz de transicion de ejemplo
matriz_tuplas = ((2, 3), (3, 2))
print("matriz representada con tuplas \n ")
print(matriz_tuplas[1][0])
print("tipo de la tupla ", type(matriz_tuplas))

Tupla de tuplas  ((1, 2, 3), ((1+1j), 58.9))
Tupla  ((1+1j), 58.9)
Segundo elemento de la segunda tupla (1+1j)
matriz representada con tuplas

3
tipo de la tupla  <class 'tuple'>

## Secuencias inmutables: Arreglo de bytes (b)
Los arreglos de bytes son secuencias de bytes (8 bits, valores enteros de 0 a 255). El arreglo de bytes definido con  *b* antes del a hilera, usa el esquema ASCII, y no es modificable.

In [32]:
#formas de construir un arreglo de bytes
arreglo_bytes_inmutable = b'abc'


print("Primer elemento del arreglo de bytes", arreglo_bytes_inmutable)
print("tipo de datos ", type(arreglo_bytes_inmutable))

Primer elemento del arreglo de bytes b'abc'
tipo de datos  <class 'bytes'>

## Secuencias mutables: Arreglo de bytes mutable (bytearray)

El tipo de datos *bytearray* es un arreglo de bytes mutable mutable.

In [31]:
#se definen dos parametros o argumentos, la hilera y el tipo de codificacion
arregloBytes2 = bytearray("hola", 'ascii')
print("Arreglo de bytes modificable", arregloBytes2)
print("Codificacion ascii de la primer letra del segundo arreglo de bytes ", arregloBytes2[0])

print("Arreglo de bytes modificado ", arregloBytes2)

Arreglo de bytes modificable bytearray(b'hola')
Codificacion ascii de la primer letra del segundo arreglo de bytes  104
Arreglo de bytes modificado  bytearray(b'hola')
tipo de datos  <class 'bytearray'>

# Secuencias mutables: Lista (list)
Una lista es una secuencia de objetos de cualquier tipo, y es modificable. Las listas son indexables como las tuplas, con valores de 0 a $n-1$, donde $n$ es el largo de la lista.

In [20]:
lista = [10, 2, 4, 5]
#lista de elementos de varios tipos
lista_2 = [10, 4.5, "hola", 1 + 7j]
print("Lista 2", lista_2[2])

Lista 2 hola

In [21]:
#lista de listas
matriz = [[2, 3], [3, 2]]
#es mutable!
matriz[0][0] = 7
print("Matriz \n ", matriz)

Matriz
  [[7, 3], [3, 2]]

In [24]:
#conversion de tupla a lista de enteros
tupla_enteros = (1, 2, 3, 5)
#conversion de una tupla a una lista
lista2 = list(tupla_enteros)
lista2[0]  = 100
print("Lista2 ", lista2)
print("tipo lista2 ", type(lista2))
print("tupla enteros ", tupla_enteros)

Lista2  [100, 2, 3, 5]
tipo lista2  <class 'list'>
tupla enteros  (1, 2, 3, 5)

In [25]:
print("Valor del cuarto elemento ", lista[3])
#lista de listas y tuplas
lista_objetos = [(2, 3.5), ["hola", "nombre"], (1, 3)]
lista_objetos[0] = list(lista_objetos[0])
print("Primer elemento", lista_objetos[0])

Valor del cuarto elemento  5
Primer elemento [2, 3.5]

In [26]:

#Hilera a lista de caracteres
lista4 = list("hola")
lista4[0] = "c"
print("Lista de caracteres  ", lista4)
#se construye la hilera a partir de la lista
hilera = str(lista4[0] + lista4[1] + lista4[2] + lista4[3])
print("Hilera ", hilera)

Lista de caracteres   ['c', 'o', 'l', 'a']
Hilera  cola

## Secuencia mutable: bytearray

In [30]:

arreglo_bytes_mutable = bytearray(b'mas')
print("elemento byte array ", arreglo_bytes_mutable[0])
arreglo_bytes_mutable[0] = 97
print("elemento byte array ", arreglo_bytes_mutable[0])
print("byte array completo ",  arreglo_bytes_mutable)
print('tipo ', type(arreglo_bytes_mutable))

elemento byte array  109
elemento byte array  97
byte array completo  bytearray(b'aas')
tipo  <class 'bytearray'>

## Conjuntos mutables
Los conjuntos son "bolsas" de objetos, donde cada objeto es único, sin orden y no indizables.

In [44]:
conjunto_frutas = {"naranja", "naranja", "limon", "sandia"}
print("Conjunto Frutas ", conjunto_frutas)
conjunto_frutas2 = {"limon", "melon", "papaya"}
print("conjunto frutas 2 ", conjunto_frutas2)

Conjunto Frutas  {'sandia', 'limon', 'naranja'}
conjunto frutas 2  {'melon', 'limon', 'papaya'}

In [40]:
#se llama la funcion intersection para calcular la interseccion de dos conjuntos
conjunto_interseccion = conjunto_frutas.intersection(conjunto_frutas2)
print("Interseccion ", conjunto_interseccion)

Interseccion  {'limon'}

In [45]:


#se elimina el elemento limon del conjunto interseccion
conjunto_interseccion.remove("limon")
print("Interseccion modificado ", conjunto_interseccion)

conjunto_interseccion.add("nance")
print("Conjunto con elemento agregado", conjunto_interseccion)

Interseccion modificado  set()
Conjunto con elemento agregado {'nance'}

## Conjuntos inmutables
En python se refieren con el nombre frozenset

In [47]:
conjuntoCongelado = frozenset({1, 2, 4})
print(conjuntoCongelado)
conjuntoCongelado.add(7)

frozenset({1, 2, 4})

AttributeError: 'frozenset' object has no attribute 'add'

## Diccionarios
Los diccinarios son un conjunto de pares ordenados, donde el primer elemento se refiere como llave, y el segundo, el valor correspondiente a tal llave.

In [55]:
dict_esp_port = {"rojo":"vermelho", "yuca":"tuberculo que se cultiva en la zona atlantica", "casa":"casa", "mia":"minha", "hija":"filha", "madre":"mae"}
traduccion_1 = dict_esp_port["yuca"]
print(traduccion_1)

tuberculo que se cultiva en la zona atlantica

In [54]:
informacion_articulos = {"Televisor":[50, "Sony", 3], "Celular":[300, "Samsung", 20], "Refrigerador":[1500, "LG", 7]}
print(informacion_articulos["Celular"][1])

Samsung

In [47]:
print("Diccionario completo ", informacionDeArticulos)
print("Cantidad de refrigeradoras disponibles ", informacionDeArticulos["Refrigerador"][2])
informacionDeArticulos["Televisor"] = [500, "LG", 20]
print("Informacion de articulos modificada ", informacionDeArticulos)

Diccionario completo  {'Televisor': [50, 'Sony', 3], 'Celular': [300, 'Samsung', 20], 'Refrigerador': [1500, 'LG', 7]}
Cantidad de refrigeradoras disponibles  7
Informacion de articulos modificada  {'Televisor': [500, 'LG', 20], 'Celular': [300, 'Samsung', 20], 'Refrigerador': [1500, 'LG', 7]}

# Practica 


1.   Realice la operación $5 + 8\times10^{-3}$, y muestre el resultado en pantalla como un número complejo.
2.  Realice la operación en números complejos "(5 + 3j) - (3 + 7j)", y muestre el resultado en pantalla de la parte real únicamente. 
3.  Realice la operación True + True, y muestre el resultado con un número real.
4.  Cree una variable de tipo hilera, para la palabra "muro", muestrela en pantalla, y cambie la letra "r", por la letra "d", para mostrar la hilera "mudo".
5.  Cree una lista de números complejos  (5 + 3j), (3 + 7j), (8 + 3j), y súmelos todos. Muestre el resultado en pantalla.
6. Cree una hilera con el contenido "hola", y modifique los dos primeros caracteres, sumandole el valor de 10 a su código ASCII. Muestre el resultado en pantalla.
7. Cree una lista de listas, para almacenar los datos de la siguiente tabla: 

| Numero de canasta | Frutas          |
|-------------------|-----------------|
| 121               | naranja, banano |
| 452               | sandia, papaya  |
| 320               | melon, mango    |
| 455               | piña, uva       |

8. Cree un diccionario de diccionarios, para representar el contenido de la siguiente tabla: 

| Casa | Caracteristicas      |
|------|----------------------|
| 121  | 2 cuartos, 2 garajes |
| 452  | 3 cuartos, 1 garaje  |
| 320  | 4 cuartos, 4 garajes |
| 455  | 4 cuartos, 2 garajes |

De forma que por ejemplo, para consultar la cantidad de cuartos de la casa 121, se realice lo siguiente: 

*diccionario[121]["cuartos"]*

9. Cree un diccionario con las traducciones a portugués de las palabras: hola, yo, usted, ellos, ella, él, soy, son, es, casa, vivo, vivimos, viven, en, una, ciudad, pueblo. Cree además una lista de hileras con la siguiente oración: "Yo vivo en una ciudad", y emplee el diccionario construído para crear una nueva lista de hileras con la traducción a portugués.